<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 鍋具商城</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<script src="~/Scripts/modernizr-2.8.3.js"></script>*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-info mb-3">
        <div class="container">
            @Html.ActionLink("鍋具商城後台管理", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MynavbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="MynavbarMenu">
                <div class="navbar-nav">
                    @Html.ActionLink("管理首頁", "Index", "HomeManager", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("客戶管理", "Index", "Members", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("商品管理", "Index", "Products", new { area = "" }, new { @class = "nav-link" })
                    @Html.ActionLink("登出", "Logout", "HomeManager", new { area = "" }, new { @class = "nav-link" })
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        <div class="alert alert-danger text-center">您目前是管理員身分，使用後請記得登出！</div>
        @RenderBody()
    </section>
    <hr />
    <footer class="bg-dark mt-5">
        <p class="text-white text-center p-3">Copyright &copy; @DateTime.Now.Year - 鍋具商城 All Rights Reserved.</p>
    </footer>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>