@model Match.Models.Activity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_manager.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activity_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity_create_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity_create_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity_join_deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity_join_deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity_lower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity_lower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity_upper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity_upper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity_type.activity_type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity_type.activity_type_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.member_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.member_account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.place_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.place_type_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.state_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.state_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.activity_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
