@*@model IEnumerable<Match.Models.Activity>*@
@model Match.ViewModels.VMActivity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_manager.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.activity.First().activity_datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activity.First().activity_datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activity.First().activity_create_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activity.First().activity_join_deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activity.First().activity_lower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activity.First().activity_upper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activity.First().Activity_type.activity_type_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activity.First().Member.member_account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activity.First().Place.place_type_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activity.First().State.state_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.activity) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.activity_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activity_datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activity_create_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activity_join_deadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activity_lower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activity_upper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity_type.activity_type_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.member_account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place.place_type_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.state_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.activity_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.activity_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.activity_id })
        </td>
    </tr>
}

</table>
