@*@model IEnumerable<Match.Models.Activity>*@
@model Match.ViewModels.VMActivity
@{
    ViewBag.Title = "活動管理";
    Layout = "~/Views/Shared/_Layout_manager.cshtml";

    var peopleCount = 0;    //包含主辦人的參加人數
    int intTypeID = 0;
    if (ViewBag.strTypeID != "所有類別")
    {
        intTypeID = Convert.ToInt16((ViewBag.strTypeID).Substring(1, 2));   //用於顯示類別名稱
    }
    string actionName = "Index";
}
<h2>活動管理</h2>
<div class="container">


    <div class="row">
        <div class="btn-group col-7 pb-3">
            <button type="button" class="btn btn-danger p-2">
                @*<a href="#" class="text-white text-decoration-none">112312342</a>*@@Html.ActionLink("所有縣市", actionName, new { place_address = "所有縣市", activity_type_id = ViewBag.strTypeID }, new { @class = "text-white text-decoration-none" })
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    北部區域
                </button>
                <div class="dropdown-menu">
                    @Html.ActionLink("台北", actionName, new { place_address = "台北", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("新北", actionName, new { place_address = "新北", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("基隆", actionName, new { place_address = "基隆", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("桃園", actionName, new { place_address = "桃園", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("新竹", actionName, new { place_address = "新竹", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("宜蘭", actionName, new { place_address = "宜蘭", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    中部區域
                </button>
                <div class="dropdown-menu">
                    @Html.ActionLink("苗栗", actionName, new { place_address = "苗栗", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("台中", actionName, new { place_address = "台中", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("彰化", actionName, new { place_address = "彰化", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("南投", actionName, new { place_address = "南投", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("雲林", actionName, new { place_address = "雲林", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    南部區域
                </button>
                <div class="dropdown-menu">
                    @Html.ActionLink("嘉義", actionName, new { place_address = "嘉義", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("台南", actionName, new { place_address = "台南", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("高雄", actionName, new { place_address = "高雄", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("屏東", actionName, new { place_address = "屏東", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    東部區域
                </button>
                <div class="dropdown-menu">
                    @Html.ActionLink("花蓮", actionName, new { place_address = "花蓮", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("台東", actionName, new { place_address = "台東", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    離島區域
                </button>
                <div class="dropdown-menu">
                    @Html.ActionLink("澎湖", actionName, new { place_address = "澎湖", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("金門", actionName, new { place_address = "金門", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                    @Html.ActionLink("馬祖", actionName, new { place_address = "馬祖", activity_type_id = ViewBag.strTypeID }, new { @class = "dropdown-item" })
                </div>
            </div>
        </div>

        <div class="col-5">
            <p class="alert alert-danger text-center">
                @ViewBag.city
            </p>
        </div>

        <div class="col-3">
            <p class="alert alert-success text-center">類別名稱</p>
            <ul class="list-group text-center">
                <li class="list-group-item">
                    @Html.ActionLink("所有類別", actionName, new { place_address = ViewBag.city, activity_type_id = "所有類別" })

                </li>
                @foreach (var at in Model.activity_type)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(at.activity_type_name, actionName, new { place_address = ViewBag.city, activity_type_id = at.activity_type_id })
                    </li>
                }
            </ul>
        </div>

        <div class="col-9">
            @if (ViewBag.strTypeID != "所有類別")   //顯示類別名稱
            {
                <p class="alert alert-info text-center">@Model.activity_type[intTypeID - 1].activity_type_name</p>
            }
            else
            {
                <p class="alert alert-info text-center">@ViewBag.strTypeID</p>
            }
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().Activity_type.activity_type_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().Place.place_photo_file)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().Place.shop_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().Place.place_address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_datetime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_join_deadline)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_lower)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_upper)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.activity_detail.First().member_id)
                    </th>*@
                    <th>
                        參加人數
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().State.state_name)
                    </th>

                    <th></th>
                </tr>
                @if (Model.activity.Count != 0)
                {
                    foreach (var a in Model.activity)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => a.activity_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.Activity_type.activity_type_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.activity_name)
                            </td>
                            <td>
                                @*路徑為空顯示預設圖片*@
                                @if (a.Place.place_photo_file != null)
                                {
                                    <img src="~/PlacePhotos/@a.Place.place_photo_file" width="100">
                                }
                                else
                                {
                                    <img src="~/PlacePhotos/defaultPhoto.png" width="100">
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.Place.shop_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.Place.place_address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.activity_datetime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.activity_join_deadline)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.activity_lower)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.activity_upper)
                            </td>
                            @*<td>
                                參加者
                                @{peopleCount = 0;}
                                @foreach (var ad in Model.activity_detail)
                                {

                                    if (ad.activity_id == a.activity_id)
                                    {
                                        <p>@Html.DisplayFor(modelItem => ad.Member.member_name)</p>
                                        peopleCount += 1;
                                    }
                                }
                            </td>*@
                            <td>
                                @*參加人數*@
                                @peopleCount
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => a.State.state_name)
                            </td>

                            <td>
                                @Html.ActionLink("修改", "Edit", new { id = a.activity_id }, new { @class = "btn btn-sm btn-info" }) 
                                @Html.ActionLink("詳細資料", "Details", new { id = a.activity_id }, new { @class = "btn btn-sm btn-info mt-2" }) 
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="11">
                            <div class="alert alert-danger text-center">沒東西哦呵呵</div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>