@*@model IEnumerable<Match.Models.Activity>*@
@model Match.ViewModels.VMActivity
@{
    ViewBag.Title = "活動管理";
    Layout = "~/Views/Shared/_Layout_manager.cshtml";

    var peopleCount = 0;    //包含主辦人的參加人數
    var intTypeID = Convert.ToInt16((ViewBag.strTypeID).Substring(1, 2));
}

<h2>活動管理</h2>
<div class="container">
    <div class="row">
        <div class="col-3">
            <p class="alert alert-success text-center">類別名稱</p>
            <ul class="list-group text-center">
                @foreach (var at in Model.activity_type)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(@at.activity_type_name, "Index", new { activity_type_id = @at.activity_type_id })
                    </li>
                }
            </ul>
        </div>
        <div class="col-9">
            <p class="alert alert-info text-center">@Model.activity_type[intTypeID - 1].activity_type_name</p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().Activity_type.activity_type_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().Place.shop_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_datetime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_join_deadline)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_lower)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().activity_upper)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity_detail.First().member_id)
                    </th>
                    <th>
                        參加人數
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.activity.First().State.state_name)
                    </th>

                    <th></th>
                </tr>
                @if (Model.activity.Count != 0)
                {
                    foreach (var a in Model.activity)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => a.activity_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.Activity_type.activity_type_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.activity_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.Place.shop_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.activity_datetime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.activity_join_deadline)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.activity_lower)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.activity_upper)
                        </td>
                        <td>
                            @{peopleCount = 0;}
                            @foreach (var ad in Model.activity_detail)
                            {

                                if (ad.activity_id == a.activity_id)
                                {
                                    <p>@Html.DisplayFor(modelItem => ad.Member.member_name)</p>
                                    peopleCount += 1;
                                }
                            }
                        </td>
                        <td>
                            @peopleCount
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => a.State.state_name)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = a.activity_id }) |
                            @Html.ActionLink("Details", "Details", new { id = a.activity_id }) |
                        </td>
                    </tr>
                    }
                 }
                 else
                 {
                    <tr>
                        <td colspan="11">
                            <div class="alert alert-danger text-center">沒東西哦呵呵</div>
                        </td>
                    </tr>
                 }
            </table>
        </div>
    </div>
</div>