<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 專題</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container">
            @Html.ActionLink("專題", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MynavbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="MynavbarMenu">
                <div class="navbar-nav">
                    @Html.ActionLink("首頁", "Index", "Home", new { area = "" }, new { @class = "nav-link font-weight-bold" })
                    @Html.ActionLink("加入活動", "Index", "UserActivity", new { area = "" }, new { @class = "nav-link font-weight-bold" })
                    @Html.ActionLink("建立活動", "Create", "UserActivity", new { area = "" }, new { @class = "nav-link font-weight-bold" })
                    @if (Session["user"] != null)
                    {
                        @Html.ActionLink("我的活動", "MyActivity", "UserActivity", new { area = "" }, new { @class = "nav-link font-weight-bold" })
                        @Html.ActionLink("好友", "Index", "Friend", new { area = "" }, new { @class = "nav-link font-weight-bold" })
                    }
                    @Html.ActionLink("個人檔案", "Index", "Home", new { area = "" }, new { @class = "nav-link font-weight-bold" })

                    </div>
                <div class="navbar-text navbar-nav">
                    @if (Session["user"] != null)
                    {
                        <div class="row">
                            @*會員圖片，路徑為空顯示預設圖片*@
                            @if (Session["member_photo_file"] != null)
                            {
                                <img src="~/MemberPhotos/@Session["member_photo_file"]" width="40" class="img-fluid" style="border-radius:20px;"/>
                            }
                            else
                            {
                                <img src="~/MemberPhotos/defaultPhoto.png" width="40" class="img-fluid" style="border-radius:20px;">
                            }
                            
                            <p><span class="text-white"><strong>@Session["member_name"]</strong> </span>會員 你好!!</p>
                            @Html.ActionLink("登出", "Logout", "HomeManager", new { area = "" }, new { @class = "nav-link font-weight-bold" })
                        </div>
                    }
                    else
                    {
                        @Html.ActionLink("登入", "Login", "HomeManager", new { area = "" }, new { @class = "nav-link font-weight-bold" })
                    }
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        @RenderBody()

    </section>
    <hr />
    <footer class="bg-dark mt-5">
        <p class="text-white text-center p-3">Copyright &copy; @DateTime.Now.Year - 專題 All Rights Reserved.</p>
    </footer>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>