@model Match.ViewModels.VMFriend

@{
    ViewBag.Title = "Index";
}

<h2>好友管理</h2>

<!-- Button trigger modal -->
<button type="button" class="btn btn-dark btnCreate" data-toggle="modal" data-target="#exampleModal">
    尋找並加入好友
</button>

<div class="container">
    <div class="row">

        @if (Model.match.Count() != 0)
        {
            <div class="col-12">
                <h3>你的好友</h3>
            </div>
            foreach (var match in Model.match)
            {
                <div class="card col-2 m-1">
                    @{
                        var photo = match.Member.member_photo_file == null ? "defaultPhoto.png" : match.Member.member_photo_file;
                    }
                    <img src="MemberPhotos/@photo" class="w-100">

                    <div class="card-body">
                        <h5 class="card-title text-primary text-center"><strong>@Html.DisplayFor(modelItem => match.Member.member_name)</strong></h5>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12 alert alert-danger text-center">您沒有朋友</div>
        }


        @if (Model.invite.Count() != 0)
        {
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <h3>是否成為好友</h3>
            </div>
            foreach (var invite in Model.invite)
            {
                <div class="card col-2 m-1">
                    @{
                        var photo = invite.Member.member_photo_file == null ? "defaultPhoto.png" : invite.Member.member_photo_file;
                    }
                    <img src="MemberPhotos/@photo" class="w-100">

                    <div class="card-body">
                        <h5 class="card-title text-primary text-center"><strong>@Html.DisplayFor(modelItem => invite.Member.member_name)</strong></h5>

                        <div class="d-flex justify-content-center">
                            <a href="/Friend/ConfirmFriend/@invite.friend_member1" class="btn btn-sm btn-success">接受</a>
                            <a href="/Friend/Delete/@invite.friend_number" class="btn btn-sm btn-danger ml-1">拒絕</a>
                        </div>

                    </div>
                </div>
            }

        }

        @if (Model.waitMember.Count() != 0)
        {
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <h3>已送出邀請</h3>
            </div>
            foreach (var waitMember in Model.waitMember)
            {
                <div class="card col-2 m-1">
                    @{
                        var photo = waitMember.member_photo_file == null ? "defaultPhoto.png" : waitMember.member_photo_file;
                    }
                    <img src="MemberPhotos/@photo" class="w-100">

                    <div class="card-body">
                        <h5 class="card-title text-primary text-center"><strong>@Html.DisplayFor(modelItem => waitMember.member_name)</strong></h5>
                        <p class="card-title text-primary text-center">於 @Html.DisplayFor(modelItem => @Model.wait.Find(w => w.friend_member2 == waitMember.member_id).friend_create_date) 邀請</p>
                        <div class="d-flex justify-content-center">
                            <a href="/Friend/Delete/@Model.wait.Find(w => w.friend_member2 == waitMember.member_id).friend_number" class="btn btn-sm btn-danger">取消邀請</a>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">尋找並加入好友</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        //加入好友modal
        $('.btnCreate').click(function () {
            $('#exampleModal .modal-body').load("/Friend/Create");
        });
    </script>
}

