@using PagedList;
@using PagedList.Mvc;

@*@model IEnumerable<HW7Project.Models.Members>*@
@model IPagedList<HW7Project.Models.Members>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2>Index</h2>

<p class="text-right">
    @Html.ActionLink("新增會員資料", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.MemberID)*@
                @Html.DisplayNameFor(model => model.FirstOrDefault().MemberID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MemberBirdthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedDate)
            </th>
            <th>
                資料管理
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.MemberID)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberBirdthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.MemberID }, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("明細", "Details", new { id = item.MemberID }, new { @class = "btn btn-success btn-sm" })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))




@section scripts{
    <script>
        $('.pagination-container').addClass("d-flex justify-content-center");
        $('.pagination-container>ul>li').removeClass().addClass("page-item");
        $('.pagination-container a').addClass("page-link");

    </script>
}