@model Match.Models.Place_type

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_manager.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Place_type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.place_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place_type_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place_type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place_type_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.place_type_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
