@model Match.Models.Activity_detail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_manager.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Activity_detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activity.activity_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.activity_type_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.member_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.member_account)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.activity_detail_number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
