@model IEnumerable<Match.Models.Activity_detail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_manager.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.activity_detail_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity.activity_type_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity.activity_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.member_account)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.activity_detail_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.activity_type_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.activity_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.member_account)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.activity_detail_number }) |
            @Html.ActionLink("Details", "Details", new { id = item.activity_detail_number }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.activity_detail_number })
        </td>
    </tr>
}

</table>
