@model Match.Models.Place_off_day

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_manager.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Place_off_day</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.place_off_day1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place_off_day1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.place_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.place_type_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.place_off_day_number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
