@model IEnumerable<HW7Project.Models.Products>

@{
    ViewBag.Title = "ProductList";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-3">
            <img src="@Url.Action("GetImage","Products", new {id=item.ProductID})" class="img-thumbnail" />
            <div class="card-body">
                <input class="PID" type="hidden" value="@item.ProductID" />
                <h5><strong  class="PName">@Html.DisplayFor(modelItem => item.ProductName)</strong></h5>
                <h6 class="text-secondary text-right" style="text-decoration:line-through">原價:@(item.UnitPrice*5)</h6>
                <h3 class="text-danger text-center"><strong>特價 <span class="Price" title="@item.UnitPrice">@Html.DisplayFor(modelItem => item.UnitPrice)</span></strong></h3>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-lg btn-block addCart"><i class="bi bi-cart4"></i> 加入購物車</button>
            </div>
        </div>
    }
</div>

<span style="position:fixed;right:30px;bottom:60px;">
    <span class="badge badge-light bg-danger text-white" style="font-size:1.3rem"></span>
    <a href="@Url.Action("MyCart")"><span style="font-size: 4rem;text-shadow:0px 0px 10px #b6ff00" class=" bi bi-cart4"></span></a>
</span>


    @section scripts{
        <script>

            var cart = [];

            if (localStorage.getItem("cart")) {
                cart = JSON.parse(localStorage.getItem("cart"));
            }

            $('.badge-light').text(cart.length);



            $('.addCart').click(function () {

                let product = $(this).closest('.card');
                let newPID = product.find('.PID').val();


                let foundItem = cart.find((item) => item.PID == newPID);
                if (foundItem === undefined) {
                    setCart(product);
                }
                else {
                    foundItem.Amount += 1;
                    localStorage.setItem("cart", JSON.stringify(cart));
                    alert('商品數量已更新');
                }


                //下面程式太冗長了!!改成上面的寫法
                //let pName = product.find(".PName").text();
                //let price = product.find(".Price").attr("title");
                //let amount = 1;

                //if (cart.length > 0) {

                //    for (let index in cart) {

                //        if (newPID == cart[index]["PID"]) {
                //            cart[index]["Amount"] += 1;
                //            localStorage.setItem("cart", JSON.stringify(cart));
                //            alert('商品數量已更新');
                //            break;
                //        }
                //        else if (cart.length - 1 == index) {
                //            setCart(product);
                //        }
                //    }

                //}
                //else {
                //    setCart(product);
                //}

            });

            function setCart(product) {
                let newItem = {
                    PID: product.find(".PID").val(),
                    PName: product.find(".PName").text(),
                    Price: product.find(".Price").attr("title"),
                    Amount: 1
                }

                cart.push(newItem);

                localStorage.setItem("cart", JSON.stringify(cart));
                alert('已加入購物車');

                $('.badge-light').text(cart.length);
            }



        </script>
    }
