@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "GetCoursePivot";
}

<h2>GetCoursePivot</h2>

<table class="table table-bordered">

    <thead>
        <tr>
            <td>@Model.Columns[0].ColumnName</td>
            <td>@Model.Columns[1].ColumnName</td>
            <td>@Model.Columns[2].ColumnName</td>
            <td>@Model.Columns[3].ColumnName</td>
            <td>@Model.Columns[4].ColumnName</td>
            <td>@Model.Columns[5].ColumnName</td>
            <td>@Model.Columns[6].ColumnName</td>
            <td>@Model.Columns[7].ColumnName</td>
            <td>@Model.Columns[8].ColumnName</td>
            <td>@Model.Columns[9].ColumnName</td>
            <td>@Model.Columns[10].ColumnName</td>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
        <tr>
            <td>@row[0]</td>
            <td>@row[1]</td>
            <td>@row[2]</td>
            <td>@row[3]</td>
            <td>@row[4]</td>
            <td>@row[5]</td>
            <td>@row[6]</td>
            <td>@row[7]</td>
            <td>@row[8]</td>
            <td>@row[9]</td>
            <td>@row[10]</td>
        </tr>
        }
        </tbody>
</table>